@use '../../assets/styles/mixins.scss' as m;

.metronome {
  @include m.full-size();
  @include m.grid-center();

  margin: 2.5rem 0;

  .buttons {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 60%;
  }
}